* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    font-size: 100%;
    background-color: white;
    background-image: url('./img/background_gray.png');
    background-repeat: no-repeat; /* Image does not repeat itself */
    background-size: cover; /* Image covers the entire element */
    background-attachment: fixed; /* The entire element is always covered */
}

#index-body {
    background-color: white;
    background-image: url('./img/background.png');
    background-repeat: no-repeat; /* Image does not repeat itself */
    background-size: cover; /* Image covers the entire element */
    background-attachment: fixed; /* The entire element is always covered */
}

main {
    margin: 30px 30px;
    width: 100%;
}

#index-title {
    margin: 30px 10px;
    color: black;
    font-size: 2.8em;
    font-weight: 500;
}

#index-text {
    margin: 30px 10px;
    width: 80%;
    color: black;
    font-size: 1.2em;
    font-weight: 350;
}

header {
    width: 100%;
    color: black;
    font-size: 1.5em;
}

nav {
    /* Navigation Bar */
    width: 90%;
    margin: auto;
    padding: 35px 0;
}

nav img {
    /* Logo width */
    width: 120px;
    /* Changes the cursor icon to pointer */ 
    cursor: pointer;
}

.nav-ul li {
    list-style: none;
    /* When only 2 values are specified for margin, the first one is used for top & bottom, and the second one is
     for left & right. This means that in this instance, top/bottom margins are 0px and left/right margins are 20px.*/
    margin: 0px 20px;
}


.nav-ul li > a {
    /* Navigation links */
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.nav-ul a:hover {
    /* Navigation items turn to red and get bigger when the mouse hovers over them */
    color: red;
    font-size: 1.1em;
}


/* Colors for link interactions.*/
a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: none;
    font-size: 1.1em; /* Zooms in */
}

a:active {
    color: black;
    text-decoration: none;
}

#button-start-shopping {
    /* Black button with white text aligned to the center of the box */
    padding: 20px 25px;
    background-color: black;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 2em; /* Rounding the corners.. */
    font-size: 1.2em;
}

footer {
    /* top: 50px, left&right: 10px, bot: 10px */
    margin: 50px 10px 10px;
    width: 100%;
}

/* Code for Categories Page */

#container_categories {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category {
    /* Create a box area for every category and paint it white */
    margin: 30px 30px;
    padding: 10px 10px;
    width: 30%;
    background-color: white;
    border-radius: 25px;
    border: 2px solid lightgray;
    color: black;
}

.category li {
    list-style: none;
}

.category img {
    width: 180px;
}

.subcategory {
    /* The subcategories remain hidden */
    display: none;
}

.category:hover .subcategory {
    /* Subcategories pop */
    display: block;
    margin-left: 15px;
} 

.category:hover {
    /* Change the border color of category box */
    border-color: black;
    transition: 1.2s;
}

/* Code for Product Pages (Software, Cameras) */

#container_products {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-title {
    font-size: 3em;
    margin-left: 25px;
    padding: 10px;
}

.product h3 {
    padding: 10px;
}

.product h5 {
    padding: 10px;
    color: gray;
}

.product img {
    padding: 10px;
    width: 150px;
}

.product p {
    padding: 10px;
}

.product h6 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
}

.product ul {
    list-style: none;
    padding-top: 0px;
    padding-left: 10px;
}

.product li {
    display: inline-block;
}

.product {
    /* Create a box area for every category and paint it white */
    margin: 30px 30px;
    padding: 10px 10px;
    width: 30%;
    background-color: white;
    border-radius: 25px;
    border: 2px solid lightgray;
    color: black;
}

.product:hover {
    border-color: black;
    transition: 1.2s;
}

/* Code for Product Nikon Camera*/

#back-btn {
    /* Black "back" button on "product-nikon-camera.html */
    padding: 20px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 1.8em; /* Rounding the corners.. */
    font-size: 1.3em;
}

#container_nikon_camera {
    margin-top: 10px;
    margin-bottom: 10px;
}

#container_nikon_camera img {
    border-radius: 1.2em;
}

#container_nikon_camera section {
    margin-top: 2em;
    margin-bottom: 2em;
}

#presentation {
    margin-left: 2em;
    padding: 10px 10px;
}

#presentation h2 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2.5em;
}

#presentation h5 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5em;
}

#presentation h6 {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 2.2em;
}

#presentation img {
    margin-top: 50px;
    margin-right: 50px;
    width: 350px;
    float: left;
}

#presentation ul {
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
    font-size: 1.3em;
}

#rev-ul {
    /* Modifies the "stars" list (reviews) */
    list-style: none;
}

#rev-ul li {
    display: inline-block;
    font-size: 1.7em;
}

#rev-ul a {
    font-size: 0.7em;
}

#description {
    padding: 10px 10px;
    /* positioning to the center - 10% */ 
    margin-right: 10%;
    margin-left: 10%;
}

.section-title-nikon {
    /* Changes the font size & margins of the sections titles */
    font-size: 2em;
    margin-top: 1.1em;
    margin-bottom:  1.1em;
}

#description article {
    /* overflow: auto; - If a floated element is taller than the containing element, it will "overflow" outside of its container. */ 
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.1em;
    overflow: auto;
}

#description article > p {
    font-size: 1.3em;
}

#description h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#first-img {
    margin-top: 1.5em;
    width: 100%;
}

#second-img {
    float: right;
    margin-left: 1em;
}

#third-img {
    float: left;
    margin-right: 1em;
    
}

#fourth-img {
    float: right;
    margin-left: 1em;
    
}

#fifth-img {
    width: 100%;
    margin-top: 2em;
}

#sixth-img {
    float: right;
    margin-left: 1em;   
}

#manufacturer {
    padding: 10px 10px;
    /* positioning to the center - 10% */  
    margin-right: 10%;
    margin-left: 10%;
}

#manufacturer a {
    /* Nikon link */
    font-size: 1.7em;
}

#specs {
    /* positioning to the center - 10% */ 
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px 10px;
}

#specs article {
    /* Space between tables */ 
    margin-bottom: 1.2em;
}

#specs article h4 {
    font-size: 1.5em;
}

#specs table td {
    /* Leave some space between data on the same row */
    padding: 10px 10px;
    font-size: 1.1em;
}

#specs table tr:nth-child(even) {
   background-color: #f3f3f3;
}

#specs table tr:nth-child(odd) {
    background-color: lightgray;
}

#reviews {
     /* positioning to the center - 10% */ 
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px 10px;
}

#reviews article{
    margin-bottom: 1em;
    background-color: #f3f3f3;
    border-radius: 1.2em;
    padding: 1em;
}

/* Code for about page*/
#about-title {
    margin-left: 40px;
}

#about-statement {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    font-size: 1.2em;
}

#about-people {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
}

.founder {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px 10px;
    background-color: #f3f3f3;
    border: lightgrey solid 2px;
    border-radius: 25px;
}

.founder p {
    font-size: 1.1em;
}

/* Code for contact page*/

/* Contact Page Title (reads "Contact Us")*/
#contact-form-title {
    /* Everything gets a 30px margin, except the bottom margin, that gets just 10px*/
    margin: 1em 1.5em 0em;
}

/* Before the contact form area*/
#contact-form-message {
    margin: 0.5em 2.5em 2.5em;
    font-size: 1.2em;
}

/* Contact form cell*/
#contact-form {
    background-color: white;
    margin: 10px 15% 20px;
    padding: 1em 1.05em;
    font-size: 1.1em;
    border: lightgray solid 2px;
    border-radius: 1.2em;
}

/* Bigger gray letters for titles of sub-sections on the form*/
#contact-form legend {
    font-size: 1.3em;
    font-weight: 550;
    color: rgb(128, 128, 128);
    margin-bottom: 0.7em;
}

/* Shape rules for input boxes in the form*/
#contact-form input[type="text"], input[type="tel"], select, textarea{
    width: 100%;
    padding: 1em 1.2em;
    margin: 1.1em 0;
    box-sizing: border-box;
    border-radius: 0.5em;
}

/* Positioning of file upload box, relative to its label*/
#contact-form input[type="file"]{
    margin: 1em;
}

/* Turns the border purple when typing on an input box*/
#contact-form input:focus, textarea:focus{
    outline: none;
    border: 3px solid purple;
}

#contact-form #phone-details {
    width: 50%;
}

/* Delete the borders of the */
fieldset {
    border: none;
    margin: 1.1em 0px;
}

/* Submit button on the contact form*/
#submit-button {
    margin-top: 1;
    background-color: black;
    padding: 0.55em 1.2em;
    color: #f3f3f3;
    cursor: pointer;
    border-radius: 1.3em;
    font-size: 1.1em;
    width: 30%;
}

/* Color change on hover over input button*/
#submit-button:hover {
    background-color: rgb(56, 56, 56);
}


