* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: white;
    background-image: url('./img/background_gray.png');
    background-repeat: no-repeat; /* Image does not repeat itself */
    background-size: cover; /* Image covers the entire element */
    background-attachment: fixed; /* The entire element is always covered */
}

#index-body {
    background-color: white;
    background-image: url('./img/background.png');
    background-repeat: no-repeat; /* Image does not repeat itself */
    background-size: cover; /* Image covers the entire element */
    background-attachment: fixed; /* The entire element is always covered */
}

header {
    width: 100%;
    color: black;
    font-size: 1.5em;
}

nav {
    /* Navigation Bar */
    width: 90%;
    margin: auto;
    padding: 35px 0;
    /* 
    display: flex;
    justify-content: space-between;
    align-items: center;
    */
}

nav img {
    /* Logo width */
    width: 120px;
    /* Changes the cursor icon to pointer */ 
    cursor: pointer;
}

.nav-ul li {
    list-style: none;
    margin: 0px 20px;
}

/* 
#nav-ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}
*/

.nav-ul li a {
    /* Navigation links */
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-ul li a:hover {
    /* Navigation items turn to red and get bigger when the mouse hovers over them */
    color: red;
    font-size: 1.1em;
}

/* Creates a colored bar under navigation items 
#nav-ul li::after {
    content: '';
    width: 0%;  In order to stay hidden 
    height: 2px;
    background: black;
    margin: auto;
    transition: 0.2s;  It takes 0.2s to transition from nothing to nav item with underlined bar 
    position: absolute; 
    left: 0;
    bottom: -10px;
}
*/ 
 
/* Changes the width of the colored bar to 100% after the mouse hovers over a navigation item 
#nav-ul li:hover::after {
    width: 100%; 
}
*/

#index-title {
    margin: 30px 10px;
    width: 100%;
    color: black;
    font-size: 2em;
}

main {
    margin: 30px 30px;
    width: 100%;
}

#index-text {
    margin: 30px 10px;
    width: 100%;
    color: black;
    font-size: 1.5em;
    font-weight: 250;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: none;
    font-size: 1.2em; /* Zooms in */
}

a:active {
    color: black;
    text-decoration: none;
}

#button-start-shopping {
    /* Black button with white text aligned to the center of the box */
    width: 175px;
    height: 85px;
    background-color: black;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 300px; /* Rounding the corners.. */
    font-size: medium;
}

footer {
    /* top: 50px, left&right: 10px, bot: 10px */
    margin: 50px 10px 10px;
    width: 100%;
}

#container_categories {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category {
    /* Create a border for every category and paint it white */
    margin: 30px 30px;
    padding: 10px 10px;
    width: 30%;
    background-color: white;
    border-radius: 25px;
    border: 2px solid lightgray;
    color: black;
}

.category ul li {
    list-style: none;
}

.category img {
    width: 180px;
}

.subcategory {
    /* The subcategories remain hidden */
    display: none;
}

.category ul li:hover .subcategory {
    /* Subcategories pop */
    display: block;
    margin-left: 15px;
} 

#container_products {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-title {
    font-size: 40px;
    margin-left: 15px;
    padding: 10px;
}

.product h3 {
    padding: 10px;
}

.product h5 {
    padding: 10px;
    color: gray;
}

.product img {
    padding: 10px;
    width: 150px;
}

.product p {
    padding: 10px;
}

.product h6 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 17px;
}

.product ul {
    list-style: none;
    padding-top: 0px;
    padding-left: 10px;
}

.product ul li {
    display: inline-block;
}

.product {
    /* Create a border for every category and paint it white */
    margin: 30px 30px;
    padding: 10px 10px;
    width: 30%;
    background-color: white;
    border-radius: 25px;
    border: 2px solid lightgray;
    color: black;
}
