* {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: white;
}

header {
    width: 100%;
    color: black;
    font-size: 1.5em;
}

nav {
    padding: 2% 6%;
    justify-content: space-between;
}

nav img {
    width: 150px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

nav ul li::after {
    content: '';
    width: 0%; /* In order to stay hidden */
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.2s;
}

nav ul li:hover::after {
    width: 100%; /* After the mouse hovers over the nav items */
}

main p {
    color: black;
    font-size: 1.5em;
}

#button-start-shopping {
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 5px;
}
