* {
    margin: 0 0; 
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    /* Grid layout code */
    display: grid;
    gap: 10em; /* Gap between grid items */ 
    grid-template-areas: 
        "header"
        "main"
        "footer"; /* Create different string for the areas */

    font-size: 100%;
    background-color: white;
    background-image: url('./img/background_gray.png');
    background-repeat: no-repeat; /* Image does not repeat itself */
    background-size: cover; /* Image covers the entire element */
    background-attachment: fixed; /* The entire element is always covered */
}

#index-body {
    /* Grid layout code */
    display: grid;
    gap: 15em;  /* Gap between grid items */
    grid-template-areas: 
        "header"
        "main"
        "footer"; /* Create different string for the areas */

    background-color: white;
    background-image: url('./img/background.png');
    background-repeat: no-repeat; /* Image does not repeat itself */
    background-size: cover; /* Image covers the entire element */
    background-attachment: fixed; /* The entire element is always covered */
}

main {
    grid-area: main;
    width: 100%;
    margin: 0 auto;
}

.jstf-center {
    /* Justify elements in the center of the screen with flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#index-title {
    margin: 30px 10px;
    color: black;
    font-size: 2.8em;
    font-weight: 500;
}

#index-text {
    margin: 30px 10px;
    width: 80%;
    color: black;
    font-size: 1.2em;
    font-weight: 350;
}

header {
    grid-area: header;
    width: 100%;
    color: black;
    font-size: 1.5em;
}

nav {
    /* Navigation Bar */
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    /* Make the navigation's position fixed, so it follows while scrolling down a webpage */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: rgb(193, 191, 191);
    
    /* Has the highest z-index score so it floats above everything (default z-index score is 0) */
    z-index: 1;
}

nav img {
    /* Logo width */
    width: 120px;
    /* Changes the cursor icon to pointer */ 
    cursor: pointer;
}

#company-name {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.nav-links {
    flex: 1; 
    text-align: right;
}

.nav-links ul {
    overflow: hidden;
    color: white;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}


.nav-links ul li a {
    /* Navigation links */
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.nav-links ul li::after {
    /* After hovering over the navigation links */
    content: ''; 
    width: 0%; /* 0% so the line remains hidden */
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.4s; /* Transition time from no line to underlined link */
}

.nav-links ul li:hover::after {
    /* After hovering, the red line appears */
    width: 100%; 
}

/* Colors for link interactions.*/
a:link {
    color: #f44336;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

#button-start-shopping {
    /* Black button with white text aligned to the center of the box */
    padding: 20px 25px;
    background-color: black;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 2em; /* Rounding the corners.. */
    font-size: 1.2em;
}

footer {
    grid-area: footer;
    bottom: 0;
    margin-bottom: 1em;
    width: 100%;
    position: static;
}

/* Code for Categories Page */

#container_categories {
    /*Place the categories in a 3-column grid layout*/
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-content: center;
}

.category {
    /* Create a box area for every category and paint it white */
    margin-top: 30px ;
    margin-bottom: 30px;
    padding: 10px 10px;
    width: 25em;
    background-color: white;
    border-radius: 25px;
    border: 2px solid lightgray;
    color: black;

    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.category li {
    list-style: none;
}

.category h2 {
    align-items: center; 
    justify-content: space-evenly;
}

.category img {
    width: 200px;
}

.subcategory {
    /* The subcategories remain hidden */
    display: none;
}

.category:hover .subcategory {
    /* Subcategories pop */
    display: flex;
    justify-content: space-around;
} 

.category:hover {
    /* Change the border color of category box */
    border-color: black;
    transition: 1.2s;
}

/* Code for Product Pages (Software, Cameras) */

.container_products {
    margin-top: 10px;
    margin-bottom: 10px;

    /* 3-column grid layout for the products */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    align-content: center;
}

.category-title {
    font-size: 3em;
    margin-left: 25px;
    padding: 10px;
}

.product h3 {
    padding: 10px;
}

.product h5 {
    padding: 10px;
    color: gray;
}

.product img {
    padding: 10px;
    width: 150px;
}

.product p {
    padding: 10px;
}

.product h6 {
    padding-left: 10px;
    font-size: 1.2em;
}

.product ul {
    list-style: none;
    padding-left: 10px;
}

.product li {
    display: inline-block;
}

.product {
    /* Create a box area for every category and paint it white */
    margin-top: 30px;
    padding: 10px 10px;
    width: 25em;
    background-color: white;
    border-radius: 25px;
    border: 2px solid lightgray;
    color: black;

    display: flex;
    flex-direction: column;
}

.product:hover {
    border-color: black;
    transition: 1.2s;
}

/* Code for Product Nikon Camera*/

#back-btn {
    /* Black "back" button on "product-nikon-camera.html */
    margin-left: 2em;
    padding: 20px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 1.8em; /* Rounding the corners.. */
    font-size: 1.3em;
}

#container_nikon_camera {
    margin: 2em;

    /* 5-row flex layout for different parts of the nikon page */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.jstf_nikon_article_text_img_horizontal_right {
    /* 2-row flex layout for text and image in nikon description section. The items as ordered at the html file are presented from right to left */
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.jstf_nikon_article_text_img_horizontal_left {
    /* 2-row flex layout for text and image in nikon description section. The items as ordered at the html file are presented from left to right*/
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.jstf_nikon_article_text_img_vertical {
    /* 2-column flex layout for text and image in nikon description section */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex_descr_text {
    /* flex-layout for description paragraphs & titles in nikon description section */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#container_nikon_camera img {
    border-radius: 1.2em;
}

#presentation {
    margin-left: 0;
    padding: 10px 10px;
}

#presentation h2 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2.5em;
}

#presentation h5 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5em;
}

#presentation h6 {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 2.2em;
}

#presentation img {
    margin-top: 50px;
    margin-right: 50px;
    width: 350px;
    float: left;
}

#presentation ul {
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
    font-size: 1.3em;
}

#rev-ul {
    /* Modifies the "stars" list (reviews) */
    list-style: none;
}

#rev-ul li {
    display: inline-block;
    font-size: 1.7em;
}

#rev-ul a {
    font-size: 0.7em;
}

#description {
    padding: 10px 10px;

    /* Flex layout for all segments in the description of nikon product */
    display: flex;
    flex-direction: column;
    gap: 3.5em;

    /* Position in the center */
    margin: auto;
    
    width: 70%;
}

.section-title-nikon {
    /* Changes the font size & margins of the sections titles */
    margin-left: 0;
    font-size: 2em;
    margin-top: 1.1em;
    margin-bottom:  1.1em;
}

#description article { 
    font-size: 1.1em;
    display: flex;
}

#description article > p {
    font-size: 1.3em;
}

#description h4 {
    font-size: 1.5em;
    margin-left: 0;
}

#first-img { 
    max-width: max-content;
    width: 100%;
} 

#second-img { 
    max-width: max-content;
    width: 100%;
} 

#third-img { 
    max-width: max-content;
    width: 100%;
} 

#fourth-img { 
    max-width: max-content;
    width: 100%;
} 

#fifth-img { 
    max-width: max-content;
    width: 100%;
} 

#sixth-img { 
    max-width: max-content;
    width: 100%;
}

#manufacturer {
    padding: 10px 10px; 
    margin-left: 0;
}

#manufacturer a {
    /* Nikon link */
    font-size: 1.7em;
}

#specs { 
    padding: 10px 10px;
    margin-left: 0;
}

#specs article {
    /* Space between tables */ 
    margin-bottom: 1.2em;
}

#specs article h4 {
    font-size: 1.5em;
}

#specs table td {
    /* Leave some space between data on the same row */
    padding: 10px 10px;
    font-size: 1.1em;
}

#specs table tr:nth-child(even) {
   background-color: #f3f3f3;
}

#specs table tr:nth-child(odd) {
    background-color: lightgray;
}

#reviews {
    padding: 10px 10px;
    margin-left: 0;
}

#reviews article{
    margin-bottom: 1em;
    background-color: #f3f3f3;
    border-radius: 1.2em;
    padding: 1em;
}

/* Code for about page*/

.flex_container {
    /* For about & contact page */
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#about-title {
    margin-left: 40px;
}

#about-statement {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.2em;
}

#about-people {
    margin-left: 40px;
    margin-right: 40px;
}

.founder {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px 10px;
    background-color: #f3f3f3;
    border: lightgrey solid 2px;
    border-radius: 25px;
}

.founder img {
    max-width: max-content;
    width: 100%;
}

.founder p {
    font-size: 1.1em;
}

/* Code for contact page*/

/* Contact Page Title (reads "Contact Us")*/
#contact-form-title {
    /* Margins for left and right are no longer needed because of the grid layout's central alignment*/
    margin-top: 1em;
}

/* Before the contact form area*/
#contact-form-message {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    font-size: 1.2em;
}

/* Contact form cell*/
#contact-form {
    background-color: white;
    padding: 1em 1.1em;
    font-size: 1.1em;
    border: lightgray solid 2px;
    border-radius: 1.2em;    
}

/* Bigger gray letters for titles of sub-sections on the form*/
#contact-form legend {
    font-size: 1.3em;
    font-weight: 550;
    color: rgb(128, 128, 128);
    margin-bottom: 0.7em;
}

/* Shape rules for input boxes in the form*/
#contact-form input[type="text"], input[type="tel"], select, textarea{
    width: 100%;
    padding: 1em 1.2em;
    margin: 1.1em 0;
    box-sizing: border-box;
    border-radius: 0.5em;
}

/* Positioning of file upload box, relative to its label*/
#contact-form input[type="file"]{
    margin: 1em;
}

/* Turns the border purple when typing on an input box*/
#contact-form input:focus, textarea:focus{
    outline: none;
    border: 3px solid #f44336;
}

#contact-form #phone-details {
    width: 50%;
}

/* Delete the borders of the */
fieldset {
    border: none;
    margin: 1.1em 0px;
}

/* Submit button on the contact form*/
#submit-button {
    margin-top: 1;
    background-color: black;
    padding: 0.55em 1.2em;
    color: #f3f3f3;
    cursor: pointer;
    border-radius: 1.3em;
    font-size: 1.1em;
    width: 30%;
}

/* Color change on hover over input button*/
#submit-button:hover {
    background-color: rgb(56, 56, 56);
}


/* Media queries for Responsive Design */

/* Small devices (Smartphones) */
@media screen and (max-width: 550px) {
    body {
        grid-template-columns: auto;
    }

    #index-title {
        font-size: 1.7em; 
    }

    #index-text {
        width: 90%; 
    }

    header {
        font-size: 1.4em;
        margin-bottom: 1.1em;
    }

    /*Nav rearrangement to fit in the smaller screen*/
    nav {
        flex-direction: column;
        padding: 2% 2%;

        height: 8rem;
    }

    /* New thicker navbar for the nikon product page*/
    #nav_product_nikon {
        height: 9.8rem;
    }

    nav img {
        /* Logo width */
        width: 60px;
    }

    #company-name {
        font-size: 1.3em;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-links ul li {
        padding: 0rem 0.8rem;
    }

    .nav-links ul li a {
        font-size: 0.7em;
    }

    footer {
        margin: 1em;
    }

    #container_categories {
        display: grid;
        grid-template-columns: auto;
    }
    
    .category {
        padding-left: 1.2em;
        width: 22em;
        gap: 2.5em;
    }

    .category img {
        max-width: 100%;
        width: 30%;
    }

    .subcategory {
        /* The subcategories cannot be a drop-down menu in phone-mode, since phones don't support hover */
        display: flex;
        justify-content: space-around;
    }

    .container_products {
        grid-template-columns: auto;
        gap: 1em; 
    }

    .category-title {
        font-size: 2em;
        margin-left: 1em;
    }

    .product h6 {
        padding-left: 10px;
        font-size: 1.2em;
    }

    .product {
        width: 20em;
    }

    #back-btn {
        padding: 0.5rem 2rem;
    }

    .jstf_nikon_article_text_img_horizontal_right {
        /* Go from a horizontal to a vertical presentation*/
        flex-direction: column;
    }
    
    .jstf_nikon_article_text_img_horizontal_left {
        /* Go from a horizontal to a vertical presentation*/
        flex-direction: column;
    }

    #about-statement {
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.2em;
    }
    
    #about-people {
        display: flex;
        flex-direction: column;
        gap: 1em;
       
        margin-left: 2em;
        margin-right: 2em;
        width: auto;
    }

    .founder {
        display: flex;
        flex-direction: column;
    }

    #contact-form-title {
        margin-left: 1em;
        margin-right: 1em;
    }

    #contact-form-message {
        margin-left: 1em;
        margin-right: 1em;
    }

    /*Added some margin so the form doesn't stick to the sides*/
    #contact-form {
        margin-left: 0.8em;
        margin-right: 0.8em;
    }

    /*Resized the submit button for phone screens (made it a bit larger)*/
    #submit-button {
        width: 50%; 
    }

}

/* Medium devices (Tablets) */
@media screen and (min-width: 551px) and (max-width: 900px) {
    body {
        grid-template-columns: auto;
    }

    #index-title {
        font-size: 1.9em; 
    }

    #index-text {
        width: 90%; 
    }

    header {
        font-size: 1.4em;
        margin-bottom: 1.1em;
    }

    /* Nav rearrangement to fit in the medium screen */
    nav {
        flex-direction: column;
        padding: 2% 2%;

        height: 10rem;
    }

    /* New thicker navbar for the nikon product page */
    #nav_product_nikon {
        height: 11rem;
    }

    nav img {
        /* Logo width */
        width: 80px;
    }

    #company-name {
        font-size: 1.5em;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-links ul li {
        padding: 0rem 1.1rem;
    }

    .nav-links ul li a {
        font-size: 0.8em;
    }

    footer {
        margin: 1em;
    }

    #container_categories {
        display: grid;
        grid-template-columns: auto auto;

        gap: 1em;
    }

    .category {
        padding-left: 1.2em;
        width: 22em;
        gap: 2.5em;

        margin-left: auto; 
        margin-right: auto; 

        width: 90%; 
    }

    .category img {
        max-width: 100%;
        width: 40%;
    }

    .subcategory {
        /* The subcategories cannot be a drop-down menu in tablet-mode, since tablets don't support hover */
        display: flex;
        justify-content: space-around;
    }

    .container_products {
        grid-template-columns: auto auto;
        gap: 1em; 
    }

    .category-title {
        font-size: 2em;
        margin-left: 1em;
    }

    .product h6 {
        padding-left: 10px;
        font-size: 1.2em;
    }

    .product {
        margin-left: auto; 
        margin-right: auto; 
        max-width: max-content;
        width: 90%; 
    }

    #back-btn {
        padding: 0.5rem 2rem;
    }

    .jstf_nikon_article_text_img_horizontal_right {
        /* Go from a horizontal to a vertical presentation*/
        flex-direction: column;
    }

    .jstf_nikon_article_text_img_horizontal_left {
        /* Go from a horizontal to a vertical presentation*/
        flex-direction: column;
    }

    #about-statement {
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.2em;
    }

    #about-people {
        display: flex;
        flex-direction: column;
        gap: 1em;
       
        margin-left: 2em;
        margin-right: 2em;
        width: auto;
    }

    .founder {
        display: flex;
        flex-direction: column;
    }

    #contact-form-title {
        margin-left: 1em;
        margin-right: 1em;
    }

    #contact-form-message {
        margin-left: 1em;
        margin-right: 1em;
    }

    /* Added some margin so the form doesn't stick to the sides */
    #contact-form {
        margin-left: 0.8em;
        margin-right: 0.8em;
    }

    /*Resized the submit button for medium screens (made it a bit larger) */
    #submit-button {
        width: 50%; 
    }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 901px) {
    .container_products {
        margin-top: 10px;
        margin-bottom: 10px;
        grid-template-columns: auto auto auto;
    }

    .category-title {
        font-size: 3em;
        margin-left: 25px;
        padding: 10px;
    }

    .product h6 {
        padding-top: 10px;
    }

    .product ul {
        padding-top: 0px;
    }

    .product {
        margin-bottom: 30px;
    }

    #about-statement {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    #about-people {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}